@font-face {
	font-family: 'chatse';
	src:url('fonts/chatse.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'chatse';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-account-circle:before {
	content: "\e608";
}

.icon-done-all:before {
	content: "\e609";
}

.icon-search:before {
	content: "\e607";
}

.icon-chat:before {
	content: "\e600";
}

.icon-forum:before {
	content: "\e601";
}

.icon-add:before {
	content: "\e606";
}

.icon-send:before {
	content: "\e602";
}

.icon-arrow-back:before {
	content: "\e603";
}

.icon-menu:before {
	content: "\e604";
}

.icon-more-vert:before {
	content: "\e605";
}

