// bower:scss
// endbower
@import "icon-font";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);
$BgCol: #2196F3;


.container {
  height: inherit;
  display: flex;
  flex-flow: column nowrap;
  background: linear-gradient(to bottom, $BgCol 30%, $BgCol 30%, #efefef 30%);
}
#app {
  width: 60%;
  height: 80%;
  overflow: hidden;
  margin: auto;
  z-index: 9;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}
md-toolbar {
  .md-button {
    padding: 0 16px;
  }
  h1 {
    font-size: 1em;
    font-weight: 400;
    margin: auto;
    user-select: none;
  }
}
.chat-list {
  .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
    padding: 8px 16px;
  }
  .selected {
    color: $BgCol;
  }
  .chat-details {
    padding-left: 16px;
  }
}
//.face {
//  border-radius: 30px;
//  border: 1px solid #ddd;
//  display: inline-block;
//  margin: 4px 16px;
//  vertical-align: middle;
//  width: 48px;
//}
.circle {
  border-radius: 50%;
  width: 100%;
  position: relative;
  background-color: #37cde7;
}
.circle:before {
  content: "";
  display: inline-block;
  padding-top: 100%;
}
.circle-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  span {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1em;
    line-height: 1em;
    font-size: 2em;
    color: white;
    font-weight: 500;
  }
}
.content-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}
#primary-col {
  overflow: hidden;
  .cell {
    flex: 1 1 auto;
  }
  .md-button {
    padding: 0 16px;
    .icon-send {
      font-size: 1.5em;
    }
  }
}
md-input-group.chat-input {
  flex: 1 1 auto;
  padding: 0 16px;
  margin: 15px 0 8px 0;
  input {
    width: 100%;
    font-size: 85%;
    color: rgba(255, 255, 255, 0.87);
    border-color: rgba(255, 255, 255, 0.12);
    border-width: 0 0 2px 0;
  }
}
///* Responsive: Portrait tablets and up */
//@media screen and (min-width: 768px) {

//}
