<md-content class="content-wrapper" layout="row" flex>
  <md-sidenav class="md-sidenav-left md-whiteframe-z1" layout="column" md-component-id="left" md-is-locked-open="$media('gt-sm')">
    <md-toolbar class="chat-panel" layout="row">
      <md-button class="menuBtn" ng-click="toggleSidenav('left')" hide-gt-sm>
        <i class="icon-arrow-back"></i>
      </md-button>
      <h1>Hi, {{loggedinAs}}</h1>
      <md-button>
        <i class="icon-chat"></i>
      </md-button>
      <md-button>
        <i class="icon-more-vert"></i>
      </md-button>
    </md-toolbar>
    <md-list class="chat-list">
      <md-item ng-repeat="chat in chats">
        <md-item-content>
          <md-button ng-click="selectChat(chat)" ng-class="{'selected' : chat === selected }">
            <div class="chat-item" layout="row" layout-align="start center">
                <span class="circle" flex="20">
                  <span class="circle-inner">
                    <span>{{initial(chat.name)}}</span>
                  </span>
                </span>
                <span class="chat-details">{{chat.name}}</span>
            </div>
          </md-button>
        </md-item-content>
      </md-item>
    </md-list>
  </md-sidenav>

  <div id="primary-col" class="content-wrapper" layout="column" flex>
    <md-toolbar class="chat-panel" layout="row">
      <md-button class="menuBtn" ng-click="toggleSidenav('left')" hide-gt-sm>
        <i class="icon-menu"></i>
      </md-button>
      <h1>Chat with {{selected.groupName || selected.name}}</h1>
<<<<<<< HEAD
      <md-button ng-click="toggleSidenav('details')">
        <i class="icon-account-circle"></i>
      </md-button>
      <md-button ng-click="toggleSidenav('users')">
=======
      <md-button ng-click="toggleSidenav('right')">
        <i class="icon-account-circle"></i>
      </md-button>
      <md-button>
>>>>>>> chatse/master
        <i class="icon-add"></i>
      </md-button>
    </md-toolbar>

    <md-content layout="column" flex class="md-padding">
      <h2>{{selected.name}}</h2>
<<<<<<< HEAD

      <div class="cell">
        <p>{{selected.content}}</p>
      </div>
    </md-content>

    <md-toolbar class="chat-panel-input" layout="row">
      <md-text-float class="chat-input md-accent" label="" ng-model="thisChat"></md-text-float>
      <md-button>
        <i class="icon-send"></i>
=======
      <p>{{selected.content}}</p>
      <div class="cell">

      </div>
    </md-content>

    <md-toolbar layout="row">
      <md-text-float class="chat-input md-accent" label="" ng-model="thisChat"></md-text-float>
      <md-button>
        <i class="icon-send md-accent"></i>
>>>>>>> chatse/master
      </md-button>
    </md-toolbar>
  </div>

<<<<<<< HEAD
  <md-sidenav class="md-sidenav-right md-whiteframe-z1" layout="column" md-component-id="details">
=======
  <md-sidenav class="md-sidenav-right md-whiteframe-z1" layout="column" md-component-id="right">
>>>>>>> chatse/master
    <md-toolbar class="chat-panel" layout="row">
      <h1>Details</h1>
    </md-toolbar>
  </md-sidenav>
<<<<<<< HEAD

  <md-sidenav class="md-sidenav-right md-whiteframe-z1" layout="column" md-component-id="users">
    <md-toolbar class="chat-panel" layout="row">
      <h1>Users</h1>
    </md-toolbar>
  </md-sidenav>
=======
>>>>>>> chatse/master
</md-content>
